@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.tela{
  display: flex;
  justify-content: center;
  background-color: pink;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.relogio{
   width: 300px;
    height: 300px;
    border: 20px solid black;
    border-radius: 50%;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: white;
    margin-top: 13rem;
}

.relogio-numeros{
  transform: translateY(-3px); 
  position: relative;
  width: 100%;
  height: 100%;
}

.numero{
  font-size: 20px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.numero1{ 
  top: 10%; 
  left: 80%; 
}

.numero2{ 
  top: 30%; 
  left: 95%; 
}

.numero3{ 
  top: 50%; 
  left: 97%; 
}

.numero4{ 
  top: 70%; 
  left: 92%; 
}

.numero5{ 
  top: 90%; 
  left: 75% 
}

.numero6{ 
  top: 100%; 
  left: 50%; 
}

.numero7{ 
  top: 93%; 
  left: 30%; 
}

.numero8{ 
  top: 78%; 
  left: 8%; 
}

.numero9{ 
  top: 50%; 
  left: 3%; 
}

.numero10{ 
  top: 30%; 
  left: 8%; 
}

.numero11{ 
  top: 12%; 
  left: 25%; 
}

.numero12{ 
  top: 1%; 
  left: 50%; 
}

.ponteiro {
  width: 50%;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.ponteiro-hora{ 
  height: 6px;
  background: var(--foreground); 
}

.ponteiro-minuto{ 
  height: 4px; 
  background: var(--foreground)
}

.ponteiro-segundo{ 
  height: 2px; 
  background: red; 
}